body
{
    font-family: 'Montserrat', sans-serif;;
    font-size: 16px;

    margin: 0;
}

*,
*:after,
*:before
{
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

/* Header */
.header_inner
{
    width: 100%;
    height: 200px;
    margin: 0 auto;

    color: #000;
    background: linear-gradient(to bottom right,#8bffb1, #8afffb) no-repeat;
    background-size: 100%;
}

.header_text
{
    display: flex;

    margin: 0 30px;
    padding-top: 20px;

    justify-content: space-between;
    align-items: center;
}

.header_logo
{
    font-size: 25px;
    font-weight: bold;
}

.header_nav
{
    display: flex;

    justify-content: space-around;
}

.header_nav nav
{
    padding-right: 20px;
}

.header_nav nav:last-child
{
    padding-right: 0;
}

/* Search */
.search_text
{
    font-weight: bold;

    margin: 0;
    margin-top: 30px;
    margin-left: 15px;

    text-transform: uppercase;

    color: #000;
}

.header_search
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.header_search_text input
{
    width: 300px;
    height: 35px;
    margin-top: 25px;
    margin-left: 35px;
    padding: 10px 10px;

    border: 0 solid black;
    outline: none;
}

.header_search input[type='search']
{
    padding-right: 10px;

    border-radius: 30px;
}
.header_search input[type='submit']
{
    position: relative;
    left: -35px;

    width: 10px;
    height: 10px;
    margin: 0;

    cursor: pointer;
    vertical-align: middle;

    background: url(search-solid.svg) 50% 50% no-repeat;
}

/* Examples */
.example_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.example {
    display: flex;
    flex-direction: column;

    margin: 25px 0 25px 10px;

    align-items: center;
}

.example_text
{
    position: relative;

    margin-bottom: 5px;

    text-decoration: none;

    color: #000;
}

.example_text:after
{
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;

    display: block;

    width: 100%;
    height: 2px;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
    background-color: #000;
}

.example_text:hover:after
{
    opacity: 1;
}

.example_img
{
    margin-right: 7px;
}

.exampleIMG {
    width: 181px;
    height: 81px;
}

/* Main */

.main
{
    display: flex;
    flex-direction: column;

    align-items: center;

}

.h1
{
    font-size: 25px;

    margin: 15px auto;


    color: #000;
}

#select {
    margin-left: 20px;  
}

input[type="text"] {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;

    width: 80%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    border: 0;
    border-bottom: solid 1px black;
    outline: 0;

    padding: 0;

    text-align: center;
}

input[type="text"]:hover {
    border-bottom: solid 1px #0fc;
    opacity: 0.5;
}

input[type="text"]::-webkit-input-placeholder {
    color: #000;
}

#fas_equals {
    margin: auto 0;
    margin-left: 6px;


    color: #000;
}
/* Buttons */

.buttons {
    display: flex;
    flex-direction: row;
}

.button {
    margin-top: 30px;
    margin-left: 20px;

    display: flex;
    flex-direction: row;

    width: 55px;
}

.button p {
    font-weight: bold;
}

.button_name {
    margin-left: 5px;
}

.sign_icon {
    margin: auto 0;
}

.equals {
    margin: auto 8px;
}

/* Footer */

.footer {
    display: flex;
    bottom: 0;

    width: 100%;
    margin-top: 40px;


    height: 12vh;
    background: linear-gradient(to bottom right, #8afffb, #8bffb1);
}

.copyright {
    align-self: center;
    margin: auto;
}

/*Log*/
.base {
    margin-left: -6px !important;
    font-size: 13px !important;
    width: 20px !important;

    background-color: transparent;

}
.number {
    font-size: 18px !important;
    width: 41px !important;
    min-width: 24px !important;
}

.log {
    width: auto;
}

#logcontainer{
    display: flex;
    justify-content: flex-start;
}

.container2 {
    display: flex;

    margin-top: 10px;

    font-size: 20px;
}

.header_inner {
    background: linear-gradient(179deg, #00fdff, #47fb95);
    background-size: 400% 400%;

    -webkit-animation: header_inner 5s ease infinite;
    -moz-animation: header_inner 5s ease infinite;
    -o-animation: header_inner 5s ease infinite;
    animation: header_inner 5s ease infinite;
}

@-webkit-keyframes header_inner {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes header_inner {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes header_inner {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes header_inner {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.bttn-default {
  color: #fff;
}
.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  color: #479fff;
}
.bttn-warning {
  color: #feab3a;
}
.bttn-danger {
  color: #ff5964;
}
.bttn-success {
  color: #28b78d;
}
.bttn-royal {
  color: #bd2df5;
}
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-md {
  font-size: 14px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-sm {
  display: flex;
  flex-direction: row;
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
  width: 75px;
  height: 45px;
  align-items: center;
  justify-content: center;
  margin-left: 10px !important;
  margin-top: 10px !important;
  outline: none;
}
.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-simple {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  border-width: 0;
  border-radius: 35px;
  background: rgba(255,255,255,0.4);
  color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-simple:hover {
  background: #6eb3ff !important;
}
.bttn-simple:focus {
    background: #2762a3 !important;
}
.bttn-simple.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-simple.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-simple.bttn-md {
  font-size: 14px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-simple.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-simple.bttn-default {
  background: rgba(255,255,255,0.4);
}
.bttn-simple.bttn-primary {
  background: #479fff;
}
.bttn-simple.bttn-warning {
  background: #feab3a;
}
.bttn-simple.bttn-danger {
  background: #ff5964;
}
.bttn-simple.bttn-success {
  background: #28b78d;
}
.bttn-simple.bttn-royal {
  background: #bd2df5;
}

.bttn-flex p {
    margin: 0;
}
/* @media */ 

@media screen {
    
}
